transformations/mmr-art15.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MMR_ART_15">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="GI_mc"/>
        <xs:element type="xs:string" name="GI_Rep"/>
        <xs:element name="plf">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Intro_pol"/>
              <xs:element type="xs:string" name="NAS"/>
              <xs:element type="xs:string" name="IMeans"/>
              <xs:element type="xs:string" name="MRE"/>
              <xs:element type="xs:string" name="Review"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="psaa">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Intro_sect"/>
              <xs:element type="xs:string" name="Sectors"/>
              <xs:element type="xs:string" name="Mainstreaming"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ivai">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Intro_ass"/>
              <xs:element type="xs:string" name="Obs_proj"/>
              <xs:element type="xs:string" name="IVA"/>
              <xs:element type="xs:string" name="Research"/>
              <xs:element type="xs:string" name="Mon"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="espcb">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Intro_stake"/>
              <xs:element type="xs:string" name="Governance"/>
              <xs:element type="xs:string" name="Knowledge"/>
              <xs:element type="xs:string" name="International"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="con">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Org"/>
              <xs:element type="xs:string" name="contact"/>
              <xs:element type="xs:string" name="Ent"/>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Title"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:int" name="phone"/>
              <xs:element type="xs:string" name="website"/>
              <xs:element type="xs:string" name="address"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NAS_Caption"/>
              <xs:element type="xs:date" name="NAS_Year"/>
              <xs:element type="xs:string" name="NAS_Status"/>
              <xs:element type="xs:string" name="NAS_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NAP_Caption"/>
              <xs:element type="xs:date" name="NAP_Year"/>
              <xs:element type="xs:string" name="NAP_Status"/>
              <xs:element type="xs:string" name="NAP_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="iva" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="IVA_Caption"/>
              <xs:element type="xs:string" name="IVA_Year"/>
              <xs:element type="xs:string" name="IVA_Status"/>
              <xs:element type="xs:string" name="IVA_NAS"/>
              <xs:element type="xs:string" name="IVA_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rpr" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PRP_Caption"/>
              <xs:element type="xs:string" name="RPR_Status"/>
              <xs:element type="xs:date" name="RPR_Start"/>
              <xs:element type="xs:date" name="RPR_End"/>
              <xs:element type="xs:string" name="RPR_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="met" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MET_Caption"/>
              <xs:element type="xs:string" name="MET_Status"/>
              <xs:element type="xs:string" name="MET_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cps">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="CPS_Caption"/>
              <xs:element type="xs:string" name="CPS_Status"/>
              <xs:element type="xs:string" name="CPS_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wpp">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="WPP_Caption"/>
              <xs:element type="xs:string" name="WPP_Status"/>
              <xs:element type="xs:string" name="WPP_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mim" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="MIM_Caption"/>
              <xs:element type="xs:string" name="MIM_Status"/>
              <xs:element type="xs:string" name="MIM_Link"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>